@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey-light: #E6E6E6;
  --color-grey-mid: #CCCCCC;
  --color-grey-dark: #A6A6A6;
  --color-accent: #4047C9;
  --color-desktop-dark: #141414;

  --font-sans: Arial, sans-serif;
}