@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-light: #e6e6e6;
  --color-grey-mid: #cccccc;
  --color-grey-dark: #a6a6a6;
  --color-accent: #4047c9;
  --color-desktop-dark: #141414;

  --font-sans: Arial, sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
